/* ---RESET E VARIABILI --- */

*{
	margin: 0;
	padding: 0;
	box-seizing: border-box;
	font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	scroll-behavior: smooth; /* Scorrimento morbido ai click del menu */
}

body{
	background-color: #F8F9FA;
	color: #212529;
	line-height: 1.6;
}

/* --- NAVIGAZIONE --- */
.portfolio-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 8%;
	background-color: #FFFFFF;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.005);
	position: sticky;
	top: 0;
	z-index:100;
}



.brand{
	font-size: 2rem;
	font-weight:700;
	color: #333;
}

.brand span{
	color: #007BFF; /* coloro d'accento Blu Tech */
}

nav ul{
	dispaly: flex;
	list-style: none;
	gap: 20px;
}

nav ul li a{
	text-decoration: none;
	color: #495057;
	font-weight: 500;
	transition: color 0.2s;
}

nav ul li a:hover{
	color: #007BFF;
}

/* --- HERO PORTFOLIO --- */
.hero-portfolio {
	padding: 100px 8% 80px;
	text-align: center;
	background: linear-gradient (135deg, #FFFFFF 0%, #E9ECEF 100%);
}

.hero-portfolio h1{
	font-size: 3rem;
	margin-bottom: 20px;
	color: #1A1D20;
}

.hero-portfolio p{
	font-size: 1.2rem;
	max-width: 700px;
	margin: 0 auto 30px;
	color: #6C757D;
}

.btn-cta{
	dispaly: inline-block;
	background-color: #007BFF;
	color: white;
	cursor: pointer;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 600;
	transition: background-color 0.2s;
}

.btn-cta:hover{
	background-color: #0056B3;
}

/* --- GRIGLIA PROGETTI --- */
.projects-section{
	paddign: 80px 8%;
	background-color: #FFFFFF;
}

.projects-section h2, .skills-section h2, .contact-section h2, .faq-section h2{
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 10px;
}

.section-subtitle{
	text-align: center;
	color: #6C757D;
	margin-bottom: 50px;
}

.projects-grid{
	display: grid;
	grid-template-columns: repeat (auto-fit, minmax(320px, 1fr));
	gap: 40px;
	
}

.project-card{
	background-color: #FFFFFF;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05),
	border: 1px solid #DEE2E6;
}

.project-image img{
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.project-info{
	padding: 25px;
}

.project-info h3{
	margin-bottom 10px;
	font-size: 1.4rem;
}

.project-info p{
	color: #495057;
	font-size: 0.95rem;
	margin-bottom: 20px;
}

.tags{
	dispaly: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.btn-project{
	display: inline-block;
	color: 007BFF;
	text-decoration: none;
	font-weight: 600;
}

.btn-project:hover{
	text-decoration:underline;
}

.placeholder{
	dispaly: flex;
	align-items: center;
	justify-content: center;
	border: 2px dashed #CED4DA;
	background-color: tranparent;
	text-align: center;
}

/*---SEZIONE COMPETENZE---*/
.skills-section{
	padding: 80px 8%;
	background-color: #F8F9FA;
}

.skills-container{
	display: flex;
	gap: 30px;
	margin-top: 40px;
}	

.skill-box{
	flex: 1;
	background-color: #FFFFFF;
	padding:30px;
	border-radius: 8px;
	border: 1px solid #DEE2E6;
}

/*---SEZIONE CONTATTI---*/
.contact-section{
	padding: 100px 8%;
	text-align: center;
	background-color: #1A1D20;
	color: white;
}

.contact-section p{
	margin-bottom: 30px;
	color: #ADB5BD
}

.contact-form{
	max-width: 500px;
	margin: 30px auto 0 auto;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.contact-form input, contact-form textarea{
	width 100%;
	padding: 12px;
	border 1px solid #CCC;
	font-size: 1rem;
}	

.btn-mail{
	display: inline-block;
	background-color: #28A745;
	color: white;
	cursor: pointer;
	padding: 15px; 35px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 600;
}
/* ---SEZIONE SOCIAL--- */
.social{
	text-align: center;
	background-color: #1A1D20;
	
}
 
.social a{
	font-size: 2.5rem;
	text-decoration: none;
	color: #FFF;
}

.social a:hover{
	border: 1px solid #FFF;
}

/*---RESPONSIVE MOBILE---*/
@media(max-width: 768px){
	.portfolio-header{
		flex-direction: column;
		gap: 15px;
	}

	.skills-container{
		flex-direction: column;
	}

	.hero-portfolio h1{
		font-size: 2.2rem;
	}

}

